<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini Social</title>
</head>
<body>

    <a href="{% url 'feed' %}">Лента постов</a> |
    {% if user.is_authenticated %}
        Привет, {{ user.username }} | <a href="{% url 'profile' user.username %}">Мой профиль</a> |
        <form action="{% url 'logout' %}" method="post" style="display: inline">
    {% csrf_token %}
    <button type="submit">Выйти</button>
        
</form>
    {% else %}
        <a href="{% url 'login' %}">Войти</a>
        <a href="{% url 'register' %}">Регистрация</a>
    {% endif %}
    <hr>

        <form action="{% url 'search_users' %}" method="GET" style="display:inline; margin-left:20px;">
        <input type="text" name="q" placeholder="Поиск пользователей">
        <button type="submit">Найти</button>
    </form>
    
    {% block content %}

    {% endblock %}

</body>
</html>