{% extends "base.html" %}

{% block content %}

<h1>Лента постов</h1>

<a href="{% url 'create_post' %}">Создать пост</a>

<hr>

{% for post in posts %}

<div>

<b>Автор:</b> {{ post.author.username }}  


<p>{{ post.text }}</p>

{% if post.image %}
<img src="{{ post.image.url }}" width="300">
{% endif %}

<p>{{ post.created_at }}</p>

<p>❤️ {{ post.like_set.count }} лайков</p>


<form action="{% url 'like_post' post.id %}" method="post">
{% csrf_token %}
<button type="submit">❤️ Лайк</button>
</form>


<a href="{% url 'post_detail' post.id %}">Открыть</a>

<hr>

</div>

{% endfor %}

{% endblock %}