{% extends "base.html" %}

{% block content %}

<h2>Пост</h2>

<p><b>Автор:</b> {{ post.author.username }}</p>

<p>{{ post.text }}</p>

{% if post.image %}
<img src="{{ post.image.url }}" width="400">
{% endif %}

<p>{{ post.created_at }}</p>

<p>❤️ {{ post.like_set.count }} лайков</p>

<form action="{% url 'like_post' post.id %}" method="post">
{% csrf_token %}
<button type="submit">❤️ Лайк</button>
</form>

{% if user == post.author %}
<a href="{% url 'post_edit' post.id %}">Редактировать</a>

{% endif %}

{% endblock %}