{% extends 'base.html' %}


{% block content %}
    <h2>Profile</h2>

    <p>Username:{{ profile_user.username }}</p>
    <p>Bio: {{ profile_user.profile.bio }}</p>
    <img src="{{ profile_user.profile.avatar.url }}"  width="160" alt="Аватар"> 
    
    <h3>Мои посты:</h3>
    {% for post in posts %}
    <div>
        <p>{{ post.text }}</p>
        {% if post.image %}
            <img src="{{ post.image.url }}" width="300">
        {% endif %}

    <p>{{ post.created_at }}</p>
        <p>❤️ {{ post.like_set.count }} лайков</p>
<a href="{% url 'like_post' post.id %}">Лайк</a>
    <a href="{% url 'post_detail' post.id %}">Открыть</a>
    </div>
        <hr>
    {% endfor %}
{% endblock %}